body {
    margin: auto 0;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-image: url("robotBack.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.RobotsPage {
    margin-top: 50px;
}
.image {
    width: 300px;
    border-radius: 50%;
}
.robots {
    display: flex;
    flex-wrap: wrap;
    right: 0;
    top: 0;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    width: 100%;
    background-color: white;
}
.robotTitle {
    text-align: center;
    right: 50px;
    font-size: 60px;
}

h1 {
    text-align: center;
}


a {
    color: black;
    text-decoration: none;
}

/*footer*/
footer {
    left: 0;
    bottom: 0;
    background-color: midnightblue;
    color: white;
    text-align: center;
    padding: 10px;
}

/*responsive nav*/

.nav {
    height: 50px;
    width: 100%;
    background-color: midnightblue;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

#filter{
    padding-left: 30px;
    padding-top: 30px;
    align-content: center;
}


