body{
    margin: auto 0;
}
.zone{
    cursor: pointer;
    color: #fff;
    font-size: 2em;
    border-radius: 4px;
    border: 1px solid #bbb;
    transition: all 0.3s linear;
}

.main-nav{
    display: flex;
    list-style-type: none;
    margin: 0;
    /*overflow: hidden;*/
    background-color: wheat;

}

@media only screen and (max-width: 600px){
    .main-nav{
        font-size: 0.5em;
        padding: 0;

    }
}
li {
    float: right;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    padding: 20px;
}
/*li a, .left-icon{*/
/*    display: block;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*    font-weight: bold;*/
/*    font-size: 25px;*/
/*}*/

a{
    color: black;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
/*cover*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("coverapple.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    /*background-size: cover; !* Resize the background image to cover the entire container *!*/
    background-position: center; /* Center the image */
    height: 80vh;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: wheat;
    color: white;
    text-align: center;
}
.push{
    margin-left: auto;
}

