body{
    margin: auto 0;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-align: center;
}
li {
    float: right;
    padding: 20px;
}
li a, .left-icon{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
a{
    color: black;
    text-decoration: none;
}

/*cover*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    /*background-size: 100% 100%;*/
    width: 100%;
    height: 300px;
}
/*footer*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: wheat;
    color: white;
    text-align: center;
}
.push{
    margin-left: auto;
}
/*projects*/
.wrapper-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 4rem;
    justify-items: center;
    align-content: center;
}
/*skills*/
.wrapper-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 10rem;
    padding-bottom: 10rem;
    padding-top: 5rem;
    justify-items: center;
    align-content: center;


}
/*about me*/
.about-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*justify-content: space-around;*/
    /*margin-bottom: 10rem;*/
    flex-direction: row;
    padding: 4rem;
    justify-items: center;


}

.about-left{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    color:black;
    padding-top: 20vh;
}
.about-left > div{
    background: wheat;
    padding: 4rem 2rem 5rem 3rem;
    text-align: center;
    border-radius: 12px 12px 12px 12px;
    width:80%;
}
.about-left-content{
    border-radius: 12px;
    width:80%;
}
.about-img img{
    display: inline-block;
    width: 200px;
}
.about-img{
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 80%;
    transition: all 0.5s ease-in-out;
    align-content: center;
}
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 60%;
    height: 40vh;
}

.about-left h2{
    font-size: 2rem;
    margin: 1rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
}
.about-left h3{
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 5px;
    margin-bottom: 5rem;
}
.icons{
    /*background: #12192c;*/
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
    border-radius: 0 0 12px 12px;
}
.icons li{
    list-style-type: none;
    background: black;
    color: #fff;
    /*width: 40px;*/
    /*height: 40px;*/
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li:hover{
    background: #edffec;
    color: #000;
}
.about-right{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    padding: 4rem 4rem 5rem 3rem;
}
.about-right h1{
    font-size: 3rem;
    text-transform: uppercase;
}
.about-right h1 span{
    color: wheat;
}
.about-right h2{
    font-weight: 600;
}

.btn{
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 10rem;
    font-weight: 600;
    background: wheat;
    margin: 0 0.5rem;
    color:black;
    transition: all 0.5s ease-in-out;
}

.btn.btn-pink:hover{
    background: transparent;
    border-color: #fff;
    color: #fff;
}
.btn.btn-white{
    transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover{
    background: white;
    border-color: black;
    color: black;
}
.about-para p{
    font-weight: 500;
    padding: 0.5rem;
    opacity: 0.8;
}
/*media queries*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper-projects{
        display: flex;
        /*flex-wrap: wrap;*/
        /*justify-content: space-around;*/
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    .wrapper-skills{
        display: flex;
        /*flex-wrap: wrap;*/
        /*justify-content: space-around;*/
        flex-direction: column;
    }
    .about-wrapper{
        display: flex;
        /*flex-wrap: wrap;*/
        /*justify-content: space-around;*/
        flex-direction: column;
    }
}

/*responsive nav*/

.nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
/*@media only screen and (min-width: 1200px) {...}*/


