*{
    margin: 0;
}
#side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 30%;
    height: 100vh;
    grid-gap: 8px;
    background-color: grey;
    padding: 8px;
    float: left;
}
button{
    display: inline-block;
    grid-column: 1/4;
}
#game {display: grid;
    grid-template-columns: repeat(20, 1fr);
    height: 100vh;

}
div{
    border: 1px solid darkgrey;
}